html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none !important;
  display: block;
  cursor: pointer;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after, .clearfix:before {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  width: 80%;
  max-width: 1536px;
  margin: 0 auto;
}

.container-fluid {
  width: 90%;
  max-width: 1728px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container-sm {
  width: 70%;
  max-width: 1300px;
  margin: 0 auto;
}

.swal2-image {
  margin-top: 0 !important;
}

.swal2-container {
  padding: 20px !important;
}

.titulo-sweet {
  font-family: "Ubuntu-Bold";
  color: #FFF !important;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: normal;
}

.conteudo-sweet {
  width: 290px;
  margin: 0 auto;
  font-family: "Roboto Medium";
  color: #FFF !important;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3 !important;
}

.botao-sweet {
  height: 45px;
  font-family: "Roboto Bold";
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  max-width: 330px !important;
  border-radius: 30px !important;
  color: #696969 !important;
  white-space: nowrap;
}

.botao-sweet:focus {
  box-shadow: none !important;
}

.titulo {
  margin-bottom: 30px;
  font-family: "Roboto Bold";
  font-size: 34px;
  font-size: 2.125rem;
  color: #3B2102;
  position: relative;
}

.titulo:before {
  content: '';
  width: 90px;
  height: 2px;
  background: #ECC26D;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.subtitulo {
  margin-bottom: 5px;
  font-family: "Roboto Medium";
  font-size: 24px;
  font-size: 1.5rem;
  line-height: normal;
  color: #3B2102;
}

.texto {
  font-family: "Roboto Regular";
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  color: #424242;
}

.texto p {
  margin-bottom: 15px;
}

.texto p:last-child {
  margin-bottom: 0;
}

.texto strong {
  font-family: "Roboto Bold";
}

.texto::-webkit-scrollbar {
  width: 6px;
  height: 16px;
}

.texto::-webkit-scrollbar-button {
  width: 20px;
  height: 100%;
}

.texto::-webkit-scrollbar-thumb {
  background: #424242;
  border: 5px solid #424242;
  border-radius: 85px;
}

.texto::-webkit-scrollbar-track {
  background: rgba(66, 66, 66, 0.5);
  border-radius: 7px;
  border: 2px solid #FFF;
  padding: 0 2px;
}

.texto::-webkit-scrollbar-corner {
  background: transparent;
}

.btn {
  padding: 13px 45px;
  font-family: "Roboto Bold";
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 1px;
  line-height: normal;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  outline: none;
  background: #3B2102;
  color: #FFF;
}

.btn.btn-carregando {
  position: relative;
  color: transparent !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: initial;
}

.btn.btn-carregando:before {
  content: '';
  height: 20px;
  width: 20px;
  animation: rotate 0.6s infinite linear;
  border: 2px solid #FFF;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn.btn-carregando:hover {
  transform: scale(1);
}

.btn:hover {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: scale(1.02);
}

.btn.btn-sm {
  padding: 11px 35px;
  font-size: 14px;
  font-size: 0.875rem;
}

.formulario .wb-campos {
  margin-bottom: 20px;
  position: relative;
}

.formulario .wb-campos input, .formulario .wb-campos textarea {
  width: 100%;
  padding: 13px 10px;
  border-radius: 5px;
  border: 1px solid #424242;
  font-family: "Roboto Regular";
  font-size: 16px;
  font-size: 1rem;
  color: #3B2102;
  outline: none;
}

.formulario .linha {
  margin: 0 -12px;
  display: flex;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.formulario .linha .col-1 {
  width: 8.33333%;
  padding: 0 12px;
}

.formulario .linha .col-2 {
  width: 16.66667%;
  padding: 0 12px;
}

.formulario .linha .col-3 {
  width: 25.0%;
  padding: 0 12px;
}

.formulario .linha .col-4 {
  width: 33.33333%;
  padding: 0 12px;
}

.formulario .linha .col-5 {
  width: 41.66666%;
  padding: 0 12px;
}

.formulario .linha .col-6 {
  width: 50.0%;
  padding: 0 12px;
}

.formulario .linha .col-7 {
  width: 58.33333%;
  padding: 0 12px;
}

.formulario .linha .col-8 {
  width: 66.66666%;
  padding: 0 12px;
}

.formulario .linha .col-9 {
  width: 75.0%;
  padding: 0 12px;
}

.formulario .linha .col-10 {
  width: 83.33333%;
  padding: 0 12px;
}

.formulario .linha .col-11 {
  width: 91.66666%;
  padding: 0 12px;
}

.formulario .linha .col-12 {
  width: 100.0%;
  padding: 0 12px;
}

.formulario .linha .col-13 {
  width: 108.33333%;
  padding: 0 12px;
}

.formulario .help-block {
  width: 100%;
  margin-top: 5px;
  font-family: "Roboto Regular";
  font-size: 12px;
  font-size: 0.75rem;
  color: red !important;
  position: absolute;
  bottom: -15px;
  left: 12px;
}

@media (max-width: 1600px) {
  .titulo {
    margin-bottom: 23px;
    font-size: 35px;
    font-size: 2.1875rem;
  }
  .titulo:before {
    width: 80px;
  }
  .subtitulo {
    font-size: 22px;
    font-size: 1.375rem;
  }
  .texto {
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
  }
  .texto p {
    margin-bottom: 13px;
  }
  .btn {
    padding: 12px 40px;
    font-size: 17px;
    font-size: 1.0625rem;
  }
  .btn.btn-sm {
    padding: 10px 33px;
    font-size: 13px;
    font-size: 0.8125rem;
  }
}

@media (max-width: 1366px) {
  .titulo {
    margin-bottom: 20px;
    font-size: 28px;
    font-size: 1.75rem;
  }
  .titulo:before {
    width: 70px;
  }
  .subtitulo {
    font-size: 18px;
    font-size: 1.125rem;
  }
  .texto {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 23px;
  }
  .texto p {
    margin-bottom: 10px;
  }
  .btn {
    padding: 11px 35px;
    font-size: 16px;
    font-size: 1rem;
  }
  .btn.btn-sm {
    padding: 9px 30px;
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (max-width: 560px) {
  .formulario .wb-campos {
    margin-bottom: 20px;
    position: relative;
  }
  .formulario .wb-campos input, .formulario .wb-campos textarea {
    padding: 12px 10px;
    font-size: 15px;
    font-size: 0.9375rem;
  }
  .formulario .linha {
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .formulario .linha .col-1 {
    width: 100%;
  }
  .formulario .linha .col-2 {
    width: 100%;
  }
  .formulario .linha .col-3 {
    width: 100%;
  }
  .formulario .linha .col-4 {
    width: 100%;
  }
  .formulario .linha .col-5 {
    width: 100%;
  }
  .formulario .linha .col-6 {
    width: 100%;
  }
  .formulario .linha .col-7 {
    width: 100%;
  }
  .formulario .linha .col-8 {
    width: 100%;
  }
  .formulario .linha .col-9 {
    width: 100%;
  }
  .formulario .linha .col-10 {
    width: 100%;
  }
  .formulario .linha .col-11 {
    width: 100%;
  }
  .formulario .linha .col-12 {
    width: 100%;
  }
  .formulario .linha .col-13 {
    width: 100%;
  }
}

header.menu {
  width: 100%;
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background: transparent;
  backdrop-filter: blur(14px);
  --webkit-backdrop-filter: blur(14px);
  background-color: rgba(0, 0, 0, 0.11);
}

header.menu .container-menu {
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-direction: row;
  -webkit-flex-direction: row;
}

header.menu .container-menu .logo-menu {
  height: 65px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

header.menu .container-menu .nav-menu {
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

header.menu .container-menu .nav-menu .conteudo-menu {
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

header.menu .container-menu .nav-menu .logo-nav {
  display: none;
}

header.menu .container-menu .nav-menu .logo-nav img {
  height: 50px;
}

header.menu .container-menu .nav-menu .item-menu {
  margin: 0 16px;
  font-family: "Roboto Regular";
  font-size: 20px;
  font-size: 1.25rem;
  float: left;
  color: #FFF;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header.menu .container-menu .nav-menu .item-menu:before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #FFF;
  bottom: -8px;
  left: 50%;
  right: 50%;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 0.5);
  transform: translate3d(0, 0, 0);
}

header.menu .container-menu .nav-menu .item-menu:first-child {
  margin-left: 0;
}

header.menu .container-menu .nav-menu .item-menu:last-child {
  margin-right: 0;
}

header.menu .container-menu .nav-menu .item-menu:hover:before, header.menu .container-menu .nav-menu .item-menu.ativo:before {
  width: 100%;
  left: 0;
}

header.menu .container-menu .nav-menu .item-menu:nth-child(1) {
  animation: fadeInUp 1.42632s forwards;
}

header.menu .container-menu .nav-menu .item-menu:nth-child(2) {
  animation: fadeInUp 1.95263s forwards;
}

header.menu .container-menu .nav-menu .item-menu:nth-child(3) {
  animation: fadeInUp 2.47895s forwards;
}

header.menu .container-menu .nav-menu .item-menu:nth-child(4) {
  animation: fadeInUp 3.00526s forwards;
}

header.menu .container-menu .nav-menu .item-menu:nth-child(5) {
  animation: fadeInUp 3.53158s forwards;
}

header.menu .container-menu .nav-menu .item-menu:nth-child(6) {
  animation: fadeInUp 4.05789s forwards;
}

header.menu .container-menu .nav-menu .item-menu:nth-child(7) {
  animation: fadeInUp 4.58421s forwards;
}

header.menu .container-menu .nav-menu .redes-sociais {
  margin-left: 30px;
  display: none;
}

header.menu .container-menu .nav-menu .redes-sociais li {
  display: inline-block;
  margin: 0 10px;
}

header.menu .container-menu .nav-menu .redes-sociais li a svg {
  width: 25px;
  height: 25px;
  transition: 0.2s ease-in-out, top 0.2s ease-out;
  fill: #FFF;
}

header.menu .container-menu .nav-menu .redes-sociais li a:hover svg {
  transform: scale(1.05);
}

header.menu .container-menu .nav-menu .redes-sociais li:first-child {
  margin-left: 0;
}

header.menu .container-menu .nav-menu .redes-sociais li:last-child {
  margin-right: 0;
}

header.menu .container-menu .toggle-menu {
  width: 25px;
  height: 25px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  display: none;
}

header.menu .container-menu .toggle-menu span {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  background-color: #FFF;
  transform: translateY(-50%);
  transition: 0.2s ease-in-out, top 0.2s ease-out;
  border-radius: 10px;
}

header.menu .container-menu .toggle-menu span:before, header.menu .container-menu .toggle-menu span:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FFF;
  border-radius: 10px;
  display: block;
  position: absolute;
  transition: 0.2s ease-in-out, top 0.2s ease-out;
}

header.menu .container-menu .toggle-menu span:before {
  top: 8px;
}

header.menu .container-menu .toggle-menu span:after {
  top: -8px;
}

header.menu .container-menu .toggle-menu.ativo span {
  background-color: transparent;
  transition: 0.2s ease-out;
}

header.menu .container-menu .toggle-menu.ativo span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}

header.menu .container-menu .toggle-menu.ativo span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

header.menu.ativo {
  top: 0;
  padding: 20px 0;
  background: #3B2102;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

header.menu.ativo .container-menu .logo-menu {
  height: 60px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header.menu.ativo .container-menu .wb-btn {
  padding: 15px 40px;
  font-size: 19px;
  font-size: 1.1875rem;
}

@media (max-width: 1600px) {
  header.menu {
    padding: 35px 0;
  }
  header.menu .container-menu .logo-menu {
    height: 45px;
  }
  header.menu .container-menu .nav-menu .item-menu {
    margin: 0 13px;
    font-size: 17px;
    font-size: 1.0625rem;
  }
  header.menu .container-menu .nav-menu .redes-sociais {
    margin-left: 25px;
  }
  header.menu .container-menu .nav-menu .redes-sociais li a svg {
    width: 23px;
    height: 23px;
  }
  header.menu.ativo {
    padding: 20px 0;
  }
  header.menu.ativo .container-menu .logo-menu {
    height: 35px;
  }
  header.menu.ativo .container-menu .wb-btn {
    padding: 14px 37px;
    font-size: 17px;
    font-size: 1.0625rem;
  }
}

@media (max-width: 1366px) {
  header.menu {
    padding: 30px 0;
  }
  header.menu .container-menu .logo-menu {
    height: 40px;
  }
  header.menu .container-menu .nav-menu .item-menu {
    margin: 0 10px;
    font-size: 15px;
    font-size: 0.9375rem;
  }
  header.menu .container-menu .nav-menu .redes-sociais {
    margin-left: 20px;
  }
  header.menu .container-menu .nav-menu .redes-sociais li a svg {
    width: 20px;
    height: 20px;
  }
  header.menu.ativo {
    padding: 20px 0;
  }
  header.menu.ativo .container-menu .logo-menu {
    height: 30px;
  }
  header.menu.ativo .container-menu .wb-btn {
    padding: 13px 35px;
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media (max-width: 980px) {
  header.menu {
    padding: 25px 0;
  }
  header.menu .container-menu .logo-menu {
    height: 35px;
  }
  header.menu .container-menu .nav-menu {
    width: 100%;
    height: 100vh;
    padding: 40px 0;
    background-color: #3B2102;
    position: fixed;
    top: 0;
    left: -100%;
    visibility: hidden;
    overflow: auto;
    transition: 0.2s ease-in-out, top 0.2s ease-out;
  }
  header.menu .container-menu .nav-menu .conteudo-menu {
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  header.menu .container-menu .nav-menu .logo-nav {
    margin-bottom: 25px;
    display: block;
  }
  header.menu .container-menu .nav-menu .item-menu {
    margin: 15px 0;
    font-size: 18px;
    font-size: 1.125rem;
  }
  header.menu .container-menu .nav-menu .redes-sociais {
    margin-left: 0;
    margin-top: 25px;
    display: block;
  }
  header.menu .container-menu .nav-menu .redes-sociais li {
    margin: 0 20px;
  }
  header.menu .container-menu .nav-menu .redes-sociais li a svg {
    width: 25px;
    height: 25px;
  }
  header.menu .container-menu .nav-menu.ativo {
    left: 0;
    visibility: visible;
  }
  header.menu .container-menu .toggle-menu {
    display: block;
  }
  header.menu.ativo {
    padding: 17px 0;
  }
  header.menu.ativo .logo-menu {
    height: 30px;
  }
}

.grecaptcha-badge {
  opacity: 0 !important;
}

footer.rodape {
  width: 100%;
  background: #3B2102;
}

footer.rodape .cabecalho-rodape {
  width: 100%;
  padding: 20px 0;
  background: #ECC26D;
}

footer.rodape .cabecalho-rodape ul {
  display: flex;
  justify-content: center;
}

footer.rodape .cabecalho-rodape ul li {
  margin: 0 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

footer.rodape .cabecalho-rodape ul li svg {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  fill: #424242;
}

footer.rodape .cabecalho-rodape ul li .texto {
  color: #424242;
}

footer.rodape .conteudo-rodape {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

footer.rodape .conteudo-rodape .coluna {
  flex: 1;
  margin: 0 15px;
}

footer.rodape .conteudo-rodape .coluna .subtitulo {
  margin-bottom: 20px;
  color: #ECC26D;
}

footer.rodape .conteudo-rodape .coluna .texto {
  color: #FFF;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
}

footer.rodape .conteudo-rodape .coluna .logo-rodape {
  height: 70px;
}

footer.rodape .conteudo-rodape .coluna .nav-menu {
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-direction: column;
  -webkit-flex-direction: column;
}

footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu {
  margin: 7px 0;
  font-family: "Roboto Regular";
  font-size: 18px;
  font-size: 1.125rem;
  color: #FFF;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  display: flex;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-direction: row;
  -webkit-flex-direction: row;
  white-space: nowrap;
}

footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #FFF;
}

footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu:hover {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: .7;
}

footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu:last-child {
  margin-bottom: 0;
}

footer.rodape .conteudo-rodape .coluna .nav-menu.sitemap {
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-direction: row;
  -webkit-flex-direction: row;
}

footer.rodape .conteudo-rodape .coluna .nav-menu.sitemap .item-menu {
  width: calc(100% / 2);
}

footer.rodape .conteudo-rodape .coluna .redes-sociais li {
  display: inline-block;
  margin: 0 10px;
}

footer.rodape .conteudo-rodape .coluna .redes-sociais li a svg {
  width: 25px;
  height: 25px;
  transition: 0.2s ease-in-out, top 0.2s ease-out;
  fill: #FFF;
}

footer.rodape .conteudo-rodape .coluna .redes-sociais li a:hover svg {
  transform: scale(1.05);
}

footer.rodape .conteudo-rodape .coluna .redes-sociais li:first-child {
  margin-left: 0;
}

footer.rodape .conteudo-rodape .coluna .redes-sociais li:last-child {
  margin-right: 0;
}

footer.rodape .conteudo-rodape .coluna:first-child {
  width: 20%;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-direction: row;
  -webkit-flex-direction: row;
}

footer.rodape .conteudo-rodape .coluna:last-child {
  flex: none;
  margin-right: 0;
}

footer.rodape .direitos {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  position: relative;
}

footer.rodape .direitos p {
  font-family: "Roboto Regular";
  font-size: 14px;
  font-size: 0.875rem;
  line-height: normal;
  color: #FFF;
  text-align: center;
}

footer.rodape .direitos .logo-dev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

footer.rodape .direitos .logo-dev img {
  width: 25px;
  height: 25px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

footer.rodape .direitos .logo-dev:hover img {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: scale(1.05);
}

@media (max-width: 1600px) {
  footer.rodape .conteudo-rodape {
    padding: 40px 0;
  }
  footer.rodape .conteudo-rodape .coluna {
    margin: 0 13px;
  }
  footer.rodape .conteudo-rodape .coluna .subtitulo {
    margin-bottom: 17px;
  }
  footer.rodape .conteudo-rodape .coluna .texto {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 22px;
  }
  footer.rodape .conteudo-rodape .coluna .logo-rodape {
    height: 65px;
    margin-bottom: 17px;
  }
  footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu {
    margin: 14px 0;
    font-size: 16px;
    font-size: 1rem;
  }
  footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu svg {
    width: 17px;
    height: 17px;
  }
  footer.rodape .conteudo-rodape .coluna .redes-sociais li {
    margin: 0 8px;
  }
  footer.rodape .conteudo-rodape .coluna .redes-sociais li a svg {
    width: 23px;
    height: 23px;
  }
  footer.rodape .direitos {
    padding: 18px 0;
  }
  footer.rodape .direitos p {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}

@media (max-width: 1366px) {
  footer.rodape .conteudo-rodape {
    padding: 30px 0;
  }
  footer.rodape .conteudo-rodape .coluna {
    margin: 0 10px;
  }
  footer.rodape .conteudo-rodape .coluna .subtitulo {
    margin-bottom: 15px;
  }
  footer.rodape .conteudo-rodape .coluna .texto {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 20px;
  }
  footer.rodape .conteudo-rodape .coluna .logo-rodape {
    height: 55px;
    margin-bottom: 15px;
  }
  footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu {
    margin: 12px 0;
    font-size: 14px;
    font-size: 0.875rem;
  }
  footer.rodape .conteudo-rodape .coluna .redes-sociais li a svg {
    width: 20px;
    height: 20px;
  }
  footer.rodape .direitos {
    padding: 15px 0;
  }
  footer.rodape .direitos p {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  footer.rodape .conteudo-rodape {
    padding: 50px 0;
    flex-direction: column;
  }
  footer.rodape .conteudo-rodape .coluna {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer.rodape .conteudo-rodape .coluna .texto {
    text-align: center;
  }
  footer.rodape .conteudo-rodape .coluna .logo-rodape {
    height: 55px;
    margin-bottom: 15px;
  }
  footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu {
    margin: 14px 0;
    text-align: center;
    font-size: 15px;
    font-size: 0.9375rem;
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu:first-child {
    margin-top: 0;
  }
  footer.rodape .conteudo-rodape .coluna .nav-menu .item-menu:last-child {
    margin-bottom: 0;
  }
  footer.rodape .conteudo-rodape .coluna .redes-sociais li {
    margin: 0 15px;
  }
  footer.rodape .conteudo-rodape .coluna .redes-sociais li a svg {
    width: 23px;
    height: 23px;
  }
  footer.rodape .conteudo-rodape .coluna:first-child {
    width: 100%;
    margin-top: 0;
  }
  footer.rodape .conteudo-rodape .coluna:last-child {
    margin-bottom: 0;
  }
  footer.rodape .direitos {
    padding: 15px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
  }
  footer.rodape .direitos p {
    font-size: 12px;
    font-size: 0.75rem;
  }
  footer.rodape .direitos .logo-dev {
    position: relative;
    padding: 20px 0 10px;
    display: block;
    margin: 0 auto;
    transform: translateY(0);
  }
}

section.detalhe {
  width: 100%;
  min-height: 100vh;
  padding: 180px 0 60px;
}

section.detalhe .container-detalhe {
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-direction: row;
  -webkit-flex-direction: row;
}

section.detalhe .container-detalhe .coluna {
  width: 50%;
}

section.detalhe .container-detalhe .coluna .titulo {
  text-transform: uppercase;
  color: #3B2102;
}

section.detalhe .container-detalhe .coluna .titulo:before {
  display: none;
}

section.detalhe .container-detalhe .coluna .titulo-medio {
  margin-bottom: 20px;
  color: #696969;
}

section.detalhe .container-detalhe .coluna .imagem-detalhe {
  padding-bottom: 70%;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-right: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

section.detalhe .container-detalhe .coluna .imagem-detalhe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

section.detalhe .container-detalhe .coluna .box {
  width: 100%;
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px solid rgba(66, 66, 66, 0.5);
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-direction: row;
  -webkit-flex-direction: row;
}

section.detalhe .container-detalhe .coluna .box .texto {
  font-size: 16px;
  font-size: 1rem;
  line-height: normal;
}

section.detalhe .container-detalhe .coluna .box .compartilhamento {
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

section.detalhe .container-detalhe .coluna .box .compartilhamento a {
  margin-left: 20px;
}

section.detalhe .container-detalhe .coluna .box .compartilhamento a svg {
  width: 23px;
  height: 23px;
  fill: #3B2102;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

section.detalhe .container-detalhe .coluna .box .compartilhamento a:hover svg {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: scale(1.05);
}

section.detalhe .container-detalhe .coluna:first-child {
  padding-right: 30px;
}

section.detalhe .container-detalhe .coluna:last-child {
  padding-left: 30px;
}

section.detalhe .mais-noticias {
  margin-top: 90px;
}

section.detalhe .mais-noticias .carrossel-noticias {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.detalhe .mais-noticias .carrossel-noticias .item-noticias {
  width: 100%;
  cursor: pointer;
}

section.detalhe .mais-noticias .carrossel-noticias .item-noticias figure {
  padding-bottom: 70%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

section.detalhe .mais-noticias .carrossel-noticias .item-noticias figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  top: 0;
}

section.detalhe .mais-noticias .carrossel-noticias .item-noticias figure:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(85, 106, 98, 0) 0%, #000 100%);
  opacity: .7;
  z-index: 1;
}

section.detalhe .mais-noticias .carrossel-noticias .item-noticias .subtitulo {
  height: 64px;
  margin: 15px 0;
  color: #3B2102;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-direction: row;
  -webkit-flex-direction: row;
}

section.detalhe .mais-noticias .carrossel-noticias .item-noticias .texto {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

section.detalhe .mais-noticias .carrossel-noticias .item-noticias .btn {
  margin-top: 15px;
  display: table;
}

section.detalhe .mais-noticias .carrossel-noticias .item-noticias:hover figure img {
  transform: scale(1.05);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

section.detalhe .mais-noticias .carrossel-noticias .owl-nav {
  margin-top: 30px;
}

section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-prev, section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-next {
  outline: none;
  margin: 0 30px;
}

section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-prev svg, section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-next svg {
  width: 30px;
  height: 25px;
  stroke: #3B2102;
  fill: transparent;
  stroke-width: 3px;
}

section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-prev:hover, section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-next:hover {
  background: transparent;
}

@media (max-width: 1600px) {
  section.detalhe {
    padding: 160px 0 50px;
  }
  section.detalhe .container-detalhe .coluna .box {
    margin-top: 25px;
    padding: 13px 0;
  }
  section.detalhe .container-detalhe .coluna .box .texto {
    font-size: 15px;
    font-size: 0.9375rem;
  }
  section.detalhe .container-detalhe .coluna .box .compartilhamento a {
    margin-left: 15px;
  }
  section.detalhe .container-detalhe .coluna .box .compartilhamento a svg {
    width: 20px;
    height: 20px;
  }
  section.detalhe .mais-noticias {
    margin-top: 70px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .item-noticias {
    margin-bottom: 27px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .item-noticias .subtitulo {
    margin: 13px 0;
  }
  section.detalhe .mais-noticias .carrossel-noticias .item-noticias .btn {
    margin-top: 13px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .owl-nav {
    margin-top: 25px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-prev, section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-next {
    margin: 0 25px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-prev svg, section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-next svg {
    width: 27px;
    height: 23px;
  }
}

@media (max-width: 1366px) {
  section.detalhe {
    padding: 120px 0 40px;
  }
  section.detalhe .container-detalhe .coluna .box {
    margin-top: 20px;
    padding: 10px 0;
  }
  section.detalhe .container-detalhe .coluna .box .texto {
    font-size: 14px;
    font-size: 0.875rem;
  }
  section.detalhe .container-detalhe .coluna .box .compartilhamento a {
    margin-left: 15px;
  }
  section.detalhe .container-detalhe .coluna .box .compartilhamento a svg {
    width: 20px;
    height: 20px;
  }
  section.detalhe .mais-noticias {
    margin-top: 50px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .item-noticias {
    margin-bottom: 25px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .item-noticias .subtitulo {
    height: 45px;
    margin: 10px 0;
  }
  section.detalhe .mais-noticias .carrossel-noticias .item-noticias .btn {
    margin-top: 10px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .owl-nav {
    margin-top: 20px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-prev, section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-next {
    margin: 0 20px;
  }
  section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-prev svg, section.detalhe .mais-noticias .carrossel-noticias .owl-nav .owl-next svg {
    width: 25px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  section.detalhe {
    min-height: 100vh;
    padding: 110px 0 30px;
  }
  section.detalhe .container-detalhe {
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
  }
  section.detalhe .container-detalhe .coluna {
    width: 100%;
  }
  section.detalhe .container-detalhe .coluna .box {
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  section.detalhe .container-detalhe .coluna .box .compartilhamento {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  section.detalhe .container-detalhe .coluna .box .compartilhamento a {
    margin: 0 15px;
  }
  section.detalhe .container-detalhe .coluna .box .compartilhamento a svg {
    width: 20px;
    height: 20px;
  }
  section.detalhe .container-detalhe .coluna:first-child {
    padding-right: 0;
  }
  section.detalhe .container-detalhe .coluna:last-child {
    padding-left: 0;
    margin-bottom: 20px;
  }
}
