// Cores Gerais 
$vermelho: #E52D2D;
$vermelho-hover: #D90D1A;

$cinza-escuro: #696969;
$cinza: #525252;
$cinza-claro: #C9C9C9;

$cor1: #3B2102;
$cor2: #ECC26D;

$cinza: #424242;
$branco: #FFF;
$preto: #21262C;

// Fonte
$fonte_ubuntu_regular: 'Ubuntu';
$fonte_ubuntu_bold: 'Ubuntu-Bold';
$fonte_ubuntu_light: 'Ubuntu-Light';
$fonte_ubuntu_medium: 'Ubuntu-Medium';

$fonte_primaria_regular: 'Roboto Regular';
$fonte_primaria_bold: 'Roboto Bold';
$fonte_primaria_light: 'Roboto Light';
$fonte_primaria_medium: 'Roboto Medium';

